<div class="completed__component">
    <app-svg-icon-component class="thank-you__icon" [path]="'assets/images/illustration-thank-you.svg'"></app-svg-icon-component>
    <div class="completed__component-notice">
        <p>You selected {{this.userSelectedRating}} out of 5</p>
    </div>
    <div class="completed__component-message">
        <h1>Thank you!</h1>
        <p>We appreciate you taking the time to give a rating. If you ever need more support, don’t hesitate to get in touch!</p>
    </div>
</div>
